# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd


# ========================
# Virtual Environments
# ========================
venv/
.venv/
env/
.env/


# ========================
# IDE / Editor Files
# ========================
.vscode/
.idea/
.ipynb_checkpoints/


# ========================
# Project Specific 
# ========================
# Large dataset folders (e.g., CIFAR-10)
data/

# Experiment results (trained models, logs, tables, etc.)
results/
saved_models/
saved_models_*/
saved_models1/

# Model file extensions 
*.pt
*.pth
*.bin

# Large precomputed experiment results (memorization/influence scores)
estimates_results.npz


# ========================
# Log Files 
# ========================
output_*.log


# ========================
# Operating System Files
# ========================
.DS_Store
Thumbs.db


gpu_test.ipynb
